In [2]:
import pandas as pd

In [3]:
call_service_df = pd.read_excel('../../Provided_Data/Calls for Service 2020 to 2022.xlsx')
print(call_service_df.shape)
call_service_df.head()

(748351, 5)

,Call Date,Call Time (HH:MM:SS),District,YRP,Call Type
0,20200101.0,14:49:10,1.0,11.0,ADVISED 911 CALL
1,20200107.0,03:14:28,2.0,22.0,TOW BYLAW & SPECIAL CONSTABLE
2,20200107.0,04:27:04,2.0,21.0,TOW BYLAW & SPECIAL CONSTABLE
3,20200107.0,04:47:35,1.0,11.0,ADVISED 911 CALL
4,20200107.0,05:02:39,5.0,52.0,ADVISED 911 CALL

In [4]:
call_service_df.columns

Index(['Call Date', 'Call Time (HH:MM:SS)', 'District', 'YRP ', 'Call Type'], dtype='object')

In [5]:
call_service_df['District'].value_counts()

1.0    410547
4.0    121512
2.0     96462
5.0     87299
3.0     28439
~        4092
Name: District, dtype: int64

In [6]:
call_service_df['Call Type'].value_counts()

ADVISED 911 CALL                       338091
CHECK WELFARE                           24836
ASSIST P.O. OR OTHER AGENCY             18457
ASSIST AMBULANCE                        14599
IMPAIRED                                14438
                                        ...
ACCIDENT FARM                               3
ANIMAL COMPLAINT - LIVESTOCK ANIMAL         2
TRANSPORT MEDICAL TEAM/HUMAN ORGAN          1
MAJOR DISASTER                              1
ANIMAL COMPLAINT - WILD ANIMAL              1
Name: Call Type, Length: 140, dtype: int64

# Year_to_Date_Community_Safety_Data

In [7]:
latest_community_safety_data_df = pd.read_csv('../../Other_Data/Year_to_Date_Community_Safety_Data.csv')
print(latest_community_safety_data_df.shape)
latest_community_safety_data_df.head()

(99566, 14)

,X,Y,OBJECTID,UniqueIdentifier,occ_date,case_type_pubtrans,LocationCode,municipality,Special_grouping,Shooting,occ_id,hate_crime,case_status,occ_type
0,621342.6600,4.878880e+06,294872,2021_267_2,2021/01/01 09:00:00+00,Utter Threats To Person,NaN,Newmarket,NaN,NaN,2021_267,NaN,Solved,Other Persons Crime
1,621342.6600,4.878880e+06,294873,2021_267_1,2021/01/01 09:00:00+00,Assault Peace Officer - Other,NaN,Newmarket,NaN,NaN,2021_267,NaN,Solved,Assaults
2,611912.0100,4.847921e+06,294892,2021_729_1,2021/01/01 23:15:00+00,Theft Under $5000 - Shoplifting,Business,Vaughan,NaN,NaN,2021_729,NaN,Closed,Theft Under $5000
3,618191.8071,4.849886e+06,294893,2021_821_1,2021/01/02 01:49:00+00,Assault,Outdoor,Vaughan,NaN,NaN,2021_821,NaN,Closed,Assaults
4,642969.4800,4.864534e+06,294894,2021_317_1,2021/01/01 14:28:00+00,Impaired Alcohol / Over 80 Mgs,Outdoor,Markham,NaN,NaN,2021_317,NaN,Open,Impaired Operation

In [8]:
latest_community_safety_data_df['municipality'].value_counts()

Vaughan                   33315
Markham                   22717
Richmond Hill             16311
Newmarket                  9115
Georgina                   5418
Aurora                     4531
Whitchurch-Stouffville     2987
East Gwillimbury           2803
King                       2369
Name: municipality, dtype: int64

In [10]:
latest_community_safety_data_df['case_type_pubtrans'].value_counts()

Theft Under $5000- Other                                     10574
Assault                                                       7956
Theft Under $5000 - Shoplifting                               7573
Theft Over $5000 - Vehicle                                    7335
Mischief To Property                                          7148
                                                             ...
Production - Crystal Meth                                        1
Break and Enter Vehicle Steal Firearm                            1
Cannabis Unlawful Purchase                                       1
Cannabis Distribute Under 19 years                               1
Fail / Refuse Alcohol Bodily Harm Motor Vehicle Collision        1
Name: case_type_pubtrans, Length: 160, dtype: int64

In [11]:
latest_community_safety_data_df['occ_type'].value_counts()

Theft Under $5000                 25017
Fraud                             12172
Assaults                          11809
Other Persons Crime               10230
Mischief                           7953
Theft of Motor Vehicle             7662
Break and Enter                    4143
Impaired Operation                 3914
Other Property Crime               3235
Drug Violations                    2661
Missing Person                     2065
Theft Over $5000                   1510
Other Criminal Code                1487
Sexual Violations                  1096
Weapons Violations                 1096
Provincial Offences                 869
Robbery                             826
Cannabis Act                        492
Firearms Violations                 463
Violations Deprivation Freedom      299
Public Morals                       273
Arson                               184
Attempt Murder                       74
Homicide                             36
Name: occ_type, dtype: int64

In [18]:
# Convert the 'occ_date' column from timestamp format to date
latest_community_safety_data_df['date'] = pd.to_datetime(latest_community_safety_data_df['occ_date']).dt.date
latest_community_safety_data_df

,X,Y,OBJECTID,UniqueIdentifier,occ_date,case_type_pubtrans,LocationCode,municipality,Special_grouping,Shooting,occ_id,hate_crime,case_status,occ_type,date
0,621342.6600,4.878880e+06,294872,2021_267_2,2021/01/01 09:00:00+00,Utter Threats To Person,NaN,Newmarket,NaN,NaN,2021_267,NaN,Solved,Other Persons Crime,2021-01-01
1,621342.6600,4.878880e+06,294873,2021_267_1,2021/01/01 09:00:00+00,Assault Peace Officer - Other,NaN,Newmarket,NaN,NaN,2021_267,NaN,Solved,Assaults,2021-01-01
2,611912.0100,4.847921e+06,294892,2021_729_1,2021/01/01 23:15:00+00,Theft Under $5000 - Shoplifting,Business,Vaughan,NaN,NaN,2021_729,NaN,Closed,Theft Under $5000,2021-01-01
3,618191.8071,4.849886e+06,294893,2021_821_1,2021/01/02 01:49:00+00,Assault,Outdoor,Vaughan,NaN,NaN,2021_821,NaN,Closed,Assaults,2021-01-02
4,642969.4800,4.864534e+06,294894,2021_317_1,2021/01/01 14:28:00+00,Impaired Alcohol / Over 80 Mgs,Outdoor,Markham,NaN,NaN,2021_317,NaN,Open,Impaired Operation,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99561,627869.5200,4.889684e+06,459236,2023_233073_2,2023/07/01 19:34:00+00,Impaired Operation Alcohol And Drug,Outdoor,East Gwillimbury,NaN,NaN,2023_233073,NaN,Open,Impaired Operation,2023-07-01
99562,608586.2588,4.847339e+06,459237,2023_232462_2,2023/07/01 07:34:00+00,Disguise With Intent,Outdoor,Vaughan,NaN,NaN,2023_232462,NaN,Open,Other Criminal Code,2023-07-01
99563,619584.4694,4.865477e+06,459238,2023_231818_1,2023/06/30 22:02:59+00,Mischief To Property,Outdoor,King,NaN,NaN,2023_231818,NaN,Solved,Mischief,2023-06-30
99564,622483.5700,4.878076e+06,459239,2023_210805_1,2023/06/16 12:46:00+00,Assault,NaN,Newmarket,NaN,NaN,2023_210805,NaN,Open,Assaults,2023-06-16
99565,607580.0533,4.849658e+06,459240,2023_806425_1,2023/06/17 00:00:00+00,Theft Under $5000- Other,Business,Vaughan,NaN,NaN,2023_806425,NaN,Open,Theft Under $5000,2023-06-17

In [22]:
latest_community_safety_data_df['date'].max(), latest_community_safety_data_df['date'].min()

(datetime.date(2023, 7, 1), datetime.date(2021, 1, 1))

# Historical_Community_Safety_Data

In [23]:
historical_community_safety_data_df = pd.read_csv('../../Other_Data/Historical_Community_Safety_Data.csv')
print(historical_community_safety_data_df.shape)
historical_community_safety_data_df.head()

(176974, 14)

c:\Users\sadma\anaconda3\envs\deeplearning\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,X,Y,OBJECTID,UniqueIdentifier,occ_date,case_type_pubtrans,LocationCode,municipality,Special_grouping,Shooting,occ_id,hate_crime,case_status,occ_type
0,621587.56,4879784.17,1,2016_37_1,2016/01/01 06:03:00+00,Impaired Alcohol / Over 80 Mgs,Outdoor,Newmarket,NaN,NaN,2016_37,NaN,Solved,Impaired Operation
1,632681.35,4853142.58,2,2016_54_1,2016/01/01 06:21:59+00,Liquor - Intoxicated,Business,Markham,NaN,NaN,2016_54,NaN,Solved,Provincial Offences
2,630898.49,4907071.25,3,2016_229_1,2016/01/01 06:14:59+00,Theft Under $5000 - Vehicle,Outdoor,Georgina,NaN,NaN,2016_229,NaN,Closed,Theft of Motor Vehicle
3,616371.25,4853863.15,4,2016_249_1,2016/01/01 14:23:00+00,Assault with a Weapon,Business,Vaughan,Violent Crime,NaN,2016_249,Hate Crime,Solved,Assaults
4,616483.56,4854982.73,5,2016_359_1,2016/01/01 18:07:00+00,Mischief To Property,Residence,Vaughan,NaN,NaN,2016_359,NaN,Closed,Mischief

In [25]:
# Convert the 'occ_date' column from timestamp format to date
historical_community_safety_data_df['date'] = pd.to_datetime(historical_community_safety_data_df['occ_date']).dt.date
historical_community_safety_data_df

,X,Y,OBJECTID,UniqueIdentifier,occ_date,case_type_pubtrans,LocationCode,municipality,Special_grouping,Shooting,occ_id,hate_crime,case_status,occ_type,date
0,621587.5600,4.879784e+06,1,2016_37_1,2016/01/01 06:03:00+00,Impaired Alcohol / Over 80 Mgs,Outdoor,Newmarket,NaN,NaN,2016_37,NaN,Solved,Impaired Operation,2016-01-01
1,632681.3500,4.853143e+06,2,2016_54_1,2016/01/01 06:21:59+00,Liquor - Intoxicated,Business,Markham,NaN,NaN,2016_54,NaN,Solved,Provincial Offences,2016-01-01
2,630898.4900,4.907071e+06,3,2016_229_1,2016/01/01 06:14:59+00,Theft Under $5000 - Vehicle,Outdoor,Georgina,NaN,NaN,2016_229,NaN,Closed,Theft of Motor Vehicle,2016-01-01
3,616371.2500,4.853863e+06,4,2016_249_1,2016/01/01 14:23:00+00,Assault with a Weapon,Business,Vaughan,Violent Crime,NaN,2016_249,Hate Crime,Solved,Assaults,2016-01-01
4,616483.5600,4.854983e+06,5,2016_359_1,2016/01/01 18:07:00+00,Mischief To Property,Residence,Vaughan,NaN,NaN,2016_359,NaN,Closed,Mischief,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176969,621320.2900,4.894033e+06,459003,2018_390282_1,2018/11/20 18:45:00+00,Identity Fraud,Residence,Georgina,NaN,NaN,2018_390282,NaN,Closed,Fraud,2018-11-20
176970,621320.2900,4.894033e+06,459081,2018_390277_1,2018/11/20 18:45:00+00,Identity Fraud,Residence,Georgina,NaN,NaN,2018_390277,NaN,Closed,Fraud,2018-11-20
176971,621320.2900,4.894033e+06,459085,2018_390283_1,2018/11/20 18:45:00+00,Identity Fraud,Residence,Georgina,NaN,NaN,2018_390283,NaN,Closed,Fraud,2018-11-20
176972,639411.0774,4.856295e+06,459153,2023_806432_1,2020/01/22 21:40:00+00,Identity Fraud,Business,Markham,NaN,NaN,2023_806432,NaN,Open,Fraud,2020-01-22
176973,623815.1200,4.860162e+06,459201,2023_204033_1,2018/01/01 05:00:00+00,Harassing / Indecent Communications,Residence,Richmond Hill,NaN,NaN,2023_204033,NaN,Open,Other Persons Crime,2018-01-01

In [27]:
historical_community_safety_data_df['date'].max(), historical_community_safety_data_df['date'].min()

(datetime.date(2021, 1, 1), datetime.date(2016, 1, 1))